/* BeneficiaryForm.css */

.add-beneficiary-form {
  margin-top: 20px;
}

.add-beneficiary-form h2 {
  color: #007bff; /* Change color to a nice blue */
  font-size: 2rem; /* Increase font size for better emphasis */
  margin-bottom: 20px;
}

.add-beneficiary-form form {
  display: flex;
  flex-direction: column;
  max-width: 400px; /* Adjust max-width for better form alignment */
  margin: auto; /* Center the form on the page */
}

.add-beneficiary-form label {
  margin-bottom: 10px;
  font-size: 1.2rem; /* Increase font size for better readability */
}

.add-beneficiary-form input {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ddd; /* Add a subtle border for a clean look */
  margin-bottom: 15px; /* Increase margin for better spacing */
}

.add-beneficiary-form button {
  padding: 12px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.2rem; /* Increase font size for better visibility */
}

.add-beneficiary-form button:hover {
  background-color: #45a049;
}
