/* Dashboard.css */
.dashboard-container {
  max-width: 80%;
  margin: 80px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-heading {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  color: #020887;
}

.dashboard-content {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;
}

.dashboard-welcome {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.dashboard-email {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.balance-section {
  margin-top: 20px;
}

.balance-section h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.transaction-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.transaction-buttons a {
  background-color: #020887;
  color: #fff;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.transaction-buttons a:hover {
  background-color: #020887;
}

.icon-navbar {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.icon-navbar a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.icon-navbar a span {
  margin-top: 5px;
}

.dashboard-logout {
  background-color: #020887;
  color: #fff;
  padding: 12px 20px;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.dashboard-logout:hover {
  background-color: #020887;
  border-color: #020887;
}
