/* Dashboard.css */

.dashboard-container {
  max-width: 80%;
  margin: 80px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* Updated background color */
}

.dashboard-heading {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  color: #020887;
}

.dashboard-content {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;
}

.dashboard-welcome {
  font-size: 24px; /* Slightly reduced font size */
  font-weight: 600; /* Increased font weight */
  margin-bottom: 10px;
  color: #333; /* Adjusted text color */
}

.dashboard-email {
  font-size: 18px; /* Adjusted font size */
  color: #555;
  margin-bottom: 20px;
}

.balance-section {
  margin-top: 20px;
}

.balance-section h3 {
  font-size: 28px; /* Increased font size for balance */
  margin-bottom: 10px;
  color: #020887;
}

.transaction-buttons {
  display: flex;
  gap: 15px; /* Increased gap between buttons */
  justify-content: center;
}

.transaction-buttons a {
  background-color: #020887;
  color: #fff;
  padding: 14px 24px; /* Increased padding */
  border-radius: 6px; /* Slightly increased border radius */
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.transaction-buttons a:hover {
  background-color: #0056b3; /* Darker hover color */
}

.icon-navbar {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.icon-navbar a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333; /* Adjusted text color */
}

.icon-navbar a span {
  margin-top: 8px; /* Increased margin top */
  font-size: 14px; /* Adjusted font size */
  color: #555; /* Adjusted text color */
}

.dashboard-logout {
  background-color: #02126c; /* Updated logout button color */
  color: #fff;
  padding: 14px 24px; /* Increased padding */
  border: 1px solid #0417a4; /* Matching border color */
  border-radius: 6px; /* Slightly increased border radius */
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.dashboard-logout:hover {
  background-color: #2293d8; /* Darker hover color */
  border-color: #02126c; /* Matching border hover color */
}
